body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://bit.ly/2Oi0xvS");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 400px;
    box-sizing: border-box; /*made the box width shrink. This typically makes it much easier to size elements.*/
    background: rgba(0,0,0,.6);
    border-radius: 10px;
    box-shadow: 0 15px 4px rgba(0,0,0,.1);
    animation: boxblur 3s infinite;
}
@keyframes boxblur{
    50% {
        box-shadow: 10px 20px 30px rgba(0,0,0,.3);
    }
}
.btn{
    padding: 14px;
    background-color: rgb(53, 227, 250);
}
.btn:hover{
    font-size: 20px;
    color: white;
}
h1{
    color: antiquewhite;
}
.input1{
    padding: 20px;
    color: rgb(53, 227, 250);
    font-weight: bold;
}
.input2{
    padding: 20px;
    color: rgb(53, 227, 250);
    font-weight: bold;
}
.input3{
    padding: 20px;
    color: rgb(53, 227, 250);
    font-weight: bold;
}